.global {
    width: 100%; display: flex;
}
.left {
    width: 20%; height: 500px;
}
.rigth {
    width: 79%; height: 800px; background-color: rgb(224, 235, 235);
}
.middle {
    width: 1%; background-color: rgb(5, 69, 133);
}
body { 
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
}
.search_logo {
    display: flex; flex-direction: column; height: 200px; width: 100%; 
}

#logo {
    height: 160px; width: 100%;
}
#search {
    display: flex; flex-direction: row; gap: 2px; height: 30px; border: 5px; margin: auto;
}
#input_text {
    padding-left: 10px; border: 1px solid gray; border-color: rgb(106, 174, 233) ;
}
.btn {
    background-color: rgb(106, 174, 233); border: none;
}
#menu_left {
    display: flex; flex-direction: column; gap: 5px; margin-left: 9px; width: 94%; margin-top: 50px;
}
.link_left {
    border: 0px solid gray; height: 20px; background-color: rgb(106, 174, 233); border-radius: 4px;
}
a {
    text-decoration: none; color: rgb(244, 244, 248); padding: 10px;
}

.link_left:hover {
    background-color: rgb(228, 93, 59);
}

#alert_bar {
    display: flex; gap: 40px; height: 50px; border: 1px solid gray; align-items: center; color: white; background-color: rgb(5, 69, 133);
}
.marge_gauche {
    margin-left: 10px;
}
.marge_droit {
    margin-right: 10px;
}
#production {
    display: flex; flex-direction: row; margin-top: 50px; gap: 5px;
}
#production_left {
    width: 50%; height: auto; background-color: aliceblue;
}
#production_rigth {
    width: 50%; height: 200px; background-color: aliceblue;
}
.table1 {
    width: 100%;
}
thead {
    color: rgb(121, 158, 190); font-size: 13px; 
}
tbody {
    color: rgb(60, 82, 100); font-size: 12px; text-align: center;
}